h1 {
  text-align: center;
  font-size: 50px;
}
html{
  background-color: #C0C0C0
}
      /* @font-face {
        font-family: font1;
        src: url('assets/fonts/8bitlim.ttf');
        font-weight:400;
        font-weight:normal;
      } */
